<%- include("partials/header"); -%>
<div class="about-container px-5 py-3">
    <img class="about-img" src="https://www.careerguide.com/career/wp-content/uploads/2022/12/CLAT.jpg" alt="clat logo" />
<h1>About Us</h1>
<p>Welcome to Clatified, an esteemed educational institution based in India. With a strong commitment to excellence,
    we strive to provide top-notch education and training to students from all walks of life. Our team of experienced
    educators and industry professionals are dedicated to nurturing talent, empowering minds, and shaping futures.</p>

<p>At Clatified, we believe in fostering a holistic learning environment that encourages critical thinking, creativity,
    and personal growth. Join us on this transformative journey and unlock your true potential with Clatified.</p>

<p>Clatified is an education focused on providing the best mentorship for Common Law Admission Test (CLAT).
    We strive to provide high-quality education to students preparing for competitive exams.</p>

<p>Our team of experienced educators and mentors work tirelessly to ensure that our students receive
    personalized attention and guidance to achieve their academic goals.</p>
</div>
<%- include("partials/footer") -%>