<%- include("partials/header"); -%>
<div class="courses-container px-5 py-5">
    <div class="course py-5">
       <img class="co-img" alt="We provide high quality services" src="https://durable.sfo3.cdn.digitaloceanspaces.com/blocks/38wRZIGMB18RWWC63uifNZyHwTSGR6rY5lnaedVTfw1PE6BTopsO0O8qRrBkepyj.jpg">
        <h2 class="course-text">CLATified Elite Mentorship</h2>
        <p class="course-para">Personal level engagement from the top educators along with some finest study externals in field of CLAT and
            personalised planner for your top notch efficiency.</p>
    </div>
    <hr class="my-0 py-0">
    <div class="course py-5">
        <h2 class="course-text">CLATified Prime Mentorship</h2>
        <img class="co-img" alt="We provide high quality services" src="https://durable.sfo3.cdn.digitaloceanspaces.com/blocks/2fnqqCLDU4oIm4CgBoEtZg0YHww3jvQoPZ8r1dNcMAjHOUueW1hZR2pI8dswIsqz.jpg" >
        <p class="course-para">Get one to one mentorship from the top rankers of CLAT along with premium materials,
            ensuring your success in the examinations.</p>
    </div>
    <hr class="my-0 py-0">
    <div class="course py-5">
        <img class="co-img" alt="We provide high quality services" src="https://durable.sfo3.cdn.digitaloceanspaces.com/blocks/1fL5332IANqQXJmWnpTFcwcIgoez00odLQtSU2CKeNJt3tucAzyIcj9dpQy6qQiS.jpg">
        <h2 class="course-text">CLATified Legacy Mentorship</h2>
        <p class="course-para">Mentorship from the people who have cracked CLAT and now pursuing law from the most prestigious universities,enabling the learner to excel in every aspect.</p>
    </div>


</div>
<%- include("partials/footer") -%>