<%- include("partials/header"); -%>
<div class="container-fluid" style="background: linear-gradient(90deg, #233329 0%, #63D471 100%);">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <div class="text-center p-3">
                            <h5 class="card-title">Prime</h5>
                            <br><br>
                            <span class="h2">Rs. 349</span>/month
                            <br><br>
                        </div>
                        <p class="card-text">The Ultimate Mentorship Program That Will Elevate Your Success In The
                            Competitive World of Law. Join our exclusive community and unlock a world of benefits
                            designed to maximize your potential. Gain access to personalized mentorship from top-notch
                            educators who will guide you every step of the way. With a dedicated group of like-minded
                            peers and a weekly planner tailored to your goals, you'll stay on track with target-oriented
                            study. Clear your doubts anytime, anywhere, with our round-the-clock doubt clearing support.
                            Plus, enhance your knowledge with daily GK quizzes and participate in engaging weekly doubt
                            clearing sessions. Empower your journey to success with CLATIFIED Prime, where dreams turn
                            into reality.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Weekly Doubt-clearing sessions</li>
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Daily GK Quizzes</li>
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Premium Mocks</li>

                    </ul>
                    <div class="card-body text-center">
                        <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <div class="text-center p-3">
                            <h5 class="card-title">Legacy</h5>
                            <br><br>
                            <span class="h2">Rs. 499</span>/2months
                            <br><br>
                        </div>
                        <p class="card-text">The ultimate mentorship program designed to unlock your full potential and
                            ace your journey to success. Gain exclusive access to a personal group comprising top-notch
                            mentors who will guide and support you every step of the way. With our meticulously crafted
                            weekly planner and target-oriented study approach, you'll stay organized and focused on
                            achieving your goals. Our round-the-clock doubt clearing assistance ensures that no question
                            goes unanswered. Plus, engage in weekly doubt clearing sessions to clarify concepts and
                            overcome hurdles. Experience mentorship from the industry's finest educators, propelling you
                            towards excellence. Join CLATIFIED Legacy today and redefine your path to triumph!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Group with all mentors</li>
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> 24/7 Doubt Clearing</li>
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Personalized Planner</li>
                    </ul>
                    <div class="card-body text-center">
                        <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <div class="text-center p-3">
                            <h5 class="card-title">Elite</h5>
                            <br><br>
                            <span class="h2">Rs. 549</span>/month
                            <br><br>
                        </div>
                        <p class="card-text">The Ultimate Mentorship Program for Aspiring Champions! Join our exclusive
                            program and unlock the door to success in the competitive world of CLAT preparation. With
                            CLATIFIED Elite, you'll gain access to a personal group of top-notch mentors who will guide
                            you every step of the way. Our meticulously curated study material and weekly planner will
                            keep you on track, while our classes on demand ensure flexible learning at your convenience.
                            Say goodbye to doubts with our 24/7 doubt clearing support and weekly doubt clearing
                            sessions. Boost your general knowledge with daily quizzes and receive mentorship from the
                            best educators in the field. CLATIFIED Elite is your ticket to acing the CLAT exam. Enroll
                            now and redefine your future!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Personalised sectional tests</li>
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Classes on demand</li>
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Premium mocks</li>
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> Targeted Oriented Strategy</li>
                        <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg> +Legacy and Prime</li>
                    </ul>
                    <div class="card-body text-center">
                        <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer") -%>